@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&display=swap");

:root {
    --primary-color: rgb(250, 207, 189, 0.3);
    --accent-color: #25D366;
    --text-color: #333333ff;
    --font-main: "Winky Sans", sans-serif;
    --font-accent: "Noto Serif Georgian", cursive;
}

.back-btn{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    align-items: flex-start;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

body {
    margin: 0;
    font-family: var(--font-main);
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-family: var(--font-accent);
}

p {
    max-width: 500px;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}


.whatsapp-btn {
    display: inline-block;
    background-color: var(--accent-color);
    color: white;
    padding: 1rem 2rem;
    border-radius: 999px;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    transition: transform 0.3s ease, background 0.3s ease;
    box-shadow: 0 8px 20px rgba(37, 211, 102, 0.3);
}

.whatsapp-btn:hover {
    background-color: #1ebd5a;
    transform: scale(1.05);
}


.note {
    margin-top: 2rem;
    font-size: 0.95rem;
    color: #666;
}




button {
    background-color: var(--accent-color);
    color: white;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #1ebd5a;
}