@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&display=swap");

:root {
    --primary-color: rgb(250, 207, 189);
    --primary-easy: #FEECE5;
    --primary-color-light: rgba(250, 207, 189, 0.3);
    --secondary-color: #FEECE5;
    --accent-color: #333;
    --font-main: "Winky Sans", sans-serif;
    --font-accent: "Noto Serif Georgian", cursive;
    --ticker-gap: 20px;
    --default-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    color: var(--accent-color);
}

p{
  font-family: var(--font-main);
}


.animate{
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.7s cubic-bezier(0.4,0,0.2,1), transform 0.7s cubic-bezier(0.4,0,0.2,1);
}

.animate.visible {
  opacity: 1;
  transform: translateY(0);
}