
.logo {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--accent-color);
  font-family: var(--font-accent);
  line-height: 20px;
  cursor: pointer;
  text-decoration: none;
}

.ham-menu{
  margin-left: auto;
  height: 35px;
  width: 35px;
  position: relative;
  cursor: pointer;
  display: none;
}

.ham-menu.active .bar:nth-child(1){
  transform: translateY(10px) rotate(45deg);
}
.ham-menu.active .bar:nth-child(2){
  opacity: 0;
}
.ham-menu.active .bar:nth-child(3){
  transform: translateY(-10px) rotate(-45deg);
}

.bar{
  height: 5px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  transition: .3s ease;
}

.bar:nth-child(1){
  top: 25%
}

.bar:nth-child(3){
  top: 75%;
}

.mobile-menu{
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  max-width: 270px;
  z-index: 999;
  right: -450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 2rem;
  transition: right 0.3s ease;
  background: var(--primary-color-light);
  backdrop-filter: blur(50px);
}

.mobile-links{
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6rem 0rem;
  gap: 1.5rem;
  font-size: 1.5rem;
}

.mobile-links a {
  text-decoration: none;
  color: inherit;
}

.mobile-menu.active{
  right: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  padding: 0.8rem 1.5rem;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 248, 246, 0.012);
  backdrop-filter: blur(3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.039);
}

.nav-links {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  gap: 1.5rem;
  font-size: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
}

.order-btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--accent-color);
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}