

@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&display=swap");


h1{
  font-family: var(--font-accent);
  line-height: 1.2;
}

p{
  font-family: var(--font-main);
}

body,
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  overflow-x: hidden;
  background-color: var(--primary-easy);
  overflow-y: hidden;
}


.hero-section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 1rem;
  background-color: var(--primary-easy);
}


.image {
  position: absolute;
  width: 220px;
  height: 220px;
  border-radius: 2.5rem;
  background-size: cover;
  background-position: center;
  z-index: 1;
  box-shadow: 0 8px 32px 0 rgba(60, 60, 60, 0.384);
}

.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: inherit;
}

.center-img {
  z-index: 3;
}

.center-text {
  opacity: 0;
  position: absolute;
  font-family: var(--font-main);
  color: var(--accent-color);
  text-align: center;
  z-index: -100;
  max-width: 450px;
}

.center-text h1 {
  font-size: 3rem;
  margin: 0;
  line-height: 0.5;
}

.center-text p {
  font-size: 1.2rem;
  margin-top: 1rem;
  font-family: var(--font-main);
}

@keyframes scroll{
  to{
    transform: translateX(-100%);
  }
}

.word-ticker{
  rotate: -1deg;
  margin-bottom: -10px;
  font-size: 1.3rem;
  padding-block: 0.5rem;
  border-block: 1.5px solid var(--accent-color);
  display: flex;
  background-color: var(--primary-color);
  overflow: hidden;
  user-select: none;
  margin-top: 10px;
}


.ticker-dot {
  width: 10px;
  height: 10px;
  background-color: var(--accent-color);
  border-radius: 50%;
  display: inline-block;
  margin: 0 6px;
}

.word-ticker ul{
  flex-shrink: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--ticker-gap);
  min-width: 100%;
  animation: scroll 30s linear infinite;
}

.stats-section{
  padding: 3rem 2rem;
  margin-top: 1rem;
}

.stats-container{
  display: flex;
  border-radius: 1rem;
  border: 1.5px solid var(--accent-color);
  padding: 1.5rem 0rem;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.334);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
}

.stat{
  text-align: center;
  font-size: 1.2rem;
}

.stat h1{
  line-height: 0.5;
}

.stat span{
  color: var(--primary-color);
}

.testimonial-container{
  display: flex;
  gap: 1rem;
  padding: 2rem;

}

.testimonial-title{
  text-align: center;  
}

.testimonial-title h1{
  font-size: 3rem;
  margin: 2.5rem 0rem;
}

.testimonial-title p {
  font-size: 1.3rem;
}

.stars{
  font-size: 1.2rem;
}

.testimonial{
  border: 1.7px solid var(--accent-color);
  border-radius: 1.5rem;
  padding: 1rem;
  opacity: 0;
  transform: translateY(40px);
  background-color: var(--primary-color-light);
}

.testimonial:hover{
  background-color: var(--primary-color-light);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.line{
  width: 100%;
  background-color:#333333c4;
  height: 1px;
  margin: 1.2rem 0rem;
}

.author{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.text{
  font-style: italic;
}

.author img{
  width: 60px;
  border: 1px solid var(--accent-color);
  border-radius: 50%;
}

.author h1{
  font-weight: 500;
  font-size: 1rem;
}


.carousel-section {
  text-align: center;
  padding: 3rem 1rem;
  max-width: 1200px;
  margin: auto;
  background-color: var(--primary-color-light);
}

.carousel-title{
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.carousel-desc{
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

.swiper {
  padding: 1rem;
}

.custom-swiper-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: rgba(255, 248, 246, 0.6);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--accent-color);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    backdrop-filter: blur(90px);
}

.custom-swiper-btn:hover {
    background: rgba(255, 255, 255, 1);
    transform: translateY(-50%) scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.custom-swiper-btn::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-top: 3px solid var(--accent-color);
    border-right: 3px solid var(--accent-color);
}

.custom-prev::before {
    transform: rotate(225deg);
    margin-left: 4px;
}

.custom-next::before {
    transform: rotate(45deg);
    margin-right: 4px;
}

.swiper-slide {
  border: 1.5px solid #33333352;
  max-width: 330px;
  background: #ffffff;
  border-radius: 2rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  text-align: center;
  padding: 1rem;
  margin: 2rem 2rem; /* Added spacing between cards */
}

.swiper-slide img {
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
} 

.image-desc h2{
  font-weight: 500;
  font-size: 0.9rem;
}

.custom-next {
  right: 10px;
}

.custom-prev {
  left: 10px;
}

.about-section {
  padding: 1rem;
  max-width: 1200px;
  scroll-margin-top: 70px;
}

.about-container {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  gap: 4rem;
}

.about-img-container img {
  max-width: 450px;
  margin-top: 20px;
}

.about-image h1{
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.about-image h2{
  font-size: 1.5rem;
  font-weight: 400;
}

.about-desc h1{
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.6;
}

.about-desc p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 1rem;
}

.socials-container{
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.socials-title{
  font-size: 2.5rem;
  color: var(--accent-color);
  line-height: 1;
  margin: 0
}


.socials-icons .icon{
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.socials-desc{
  font-size: 2rem;
  margin: 0.5rem 0rem;
  line-height: 1.2;
  text-align: center;
}

.socials-images-grid{
  display: grid;
  margin: 0 auto;
  gap: 15px;
  grid-auto-rows: minmax(200px, 1fr);
  height: fit-content;
}

.grid-item{
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  border: 2px solid var(--primary-color);
  max-height: 250px;
}

.rows{
  display: grid;
  gap: 15px;
  margin-bottom: 15px; 
}

.row-1 {
  grid-template-columns: 1fr 1fr 1fr 2fr;
}

.row-2{
  grid-template-columns: 1fr 2fr 1fr;
}

.row-3{
  grid-template-columns: 1fr 2fr 1fr 1fr;
}

.rows img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.faq-section {
  padding: 4rem 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.faq-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  color: var(--accent-color);
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq-item {
  border: 1px solid var(--accent-color);
  border-radius: 1rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  opacity: 0;
}

.faq-question {
  padding: 1.25rem 1.25rem;
  font-size: 1.25rem;
  font-family: var(--font-accent);
  font-weight: 400;
  cursor: pointer;
  position: relative;
}

.faq-question::after {
  content: "+";
  position: absolute;
  right: 1rem;
  font-size: 1.25rem;
  transition: transform 0.4s ease;
}

.faq-item.active .faq-question::after {
  content: "\2013"; /* en dash */
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0rem 1rem;
  color: var(--accent-color);
  background-color: var(--primary-color-light);
  transition: max-height 0.4s ease, padding 0.4s ease;
}

.faq-item.active .faq-answer {
  max-height: 500px;
  padding: 1rem;
}
  
.footer {
  background-color: var(--primary-color-light);
  color: var(--accent-color);
  padding: 3rem 1rem;
  border-top: 1px solid var(--accent-color);
}

.footer-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0rem 2rem;
}

.footer-column{
  flex: 1 1 28 0px;
  margin: 1rem 0;
}

.footer-column h4{
  margin-bottom: 1rem;
  font-weight: 700;
  font-family: var(--font-accent);
  color: black;
}

.footer-column ul{
  list-style: none;
  padding: 0;
}

.footer-column ul li a {
  text-decoration: none;
  margin-bottom: 0.5rem;
  display: inline-block;
  color: var(--accent-color);
}

.footer-column ul li a:hover {
  color: var(--primary-color);
}

.footer-socials{
  display: flex;
  gap: 1rem;
}
.footer-bottom{
  text-align: center;
  font-size: 0.9rem;
}

.footer-bottom .tagline {
  font-style: italic;
  margin-bottom: 0.5rem;
}

.legal-links {
  margin-top: 0.3rem;
}

.legal-links a {
  color: #7b5b4b;
  text-decoration: none;
  margin: 0 0.5rem;
}


.animate{
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.7s cubic-bezier(0.4,0,0.2,1), transform 0.7s cubic-bezier(0.4,0,0.2,1);
}

.animate.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 1200px) {
  .about-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .about-img-container img {
    max-width: 90%;
  }
}

@media (max-width: 668px){
  .nav-links {
    display: none;
  }
  .ham-menu {
    display: block;
  }
  .image {
    width: 180px;
    height: 180px;
  }

  .center-text h1{
    font-size: 2.5rem;
  }

  .center-text p {
    font-size: 1rem;
  
  }

  .stats-container{
    flex-direction: column;
  }

  .testimonial-container{
    flex-direction: column;
  }

  .testimonial{
    transform: translatex(-40px);
  }
  .about-container {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .about-img-container img {
    max-width: 100%;
    margin-top: 10px;
  }

  .swiper-slide img {
    max-width: 100%;
    border-radius: 1rem;
  }

  .custom-swiper-btn{
    display: none;
  }

  .socials-images-grid {
    display: block;
    margin-bottom: 0%;
  }
  .row-1{
    grid-template-columns: 1fr 1fr;
    height: fit-content;
  }

  .row-2{
    grid-template-columns: 1fr;
    height: fit-content;
  }

  .row-3{
    grid-template-columns: 1fr 1fr;
    height: fit-content;
  }

}

/* even smaller devices */
@media (max-width: 480px) {
  .hero-section {
    min-height: 100vh;
    min-height: 100dvh; /* Dynamic viewport height for modern browsers */
    overflow: hidden; /* Prevent content from spilling out */
  }


  .about-container {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .about-img-container img {
    max-width: 100%;
    margin-top: 10px;
  }

  .about-desc h1 {
    font-size: 2rem;
  }
  .swiper-slide {
    max-width: 240px;
    margin: 2rem 0.5rem;
  }
  .image-desc{
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }

  .footer-bottom{
    padding-bottom: 2rem;
  }
}
/* Menu Styles */